/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Windows Folder GUI */
.window {
  width: 80%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px 20px 20px 20px;
  margin: 20px  20px 20px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px 20px 20px 20px;
  margin: 20px  20px 20px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  border: none;
  border-top: 1px solid #555;
  margin: 20px 0;
  width: 100%;
}
