<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
<div class="ui labeled icon menu">
	<a class="item" href="{{ url_for('index') }}">
		<i class="list alternate icon"></i>
		Device List
	</a> 
	<a class="item" href="{{ url_for('add_device') }}">
		<i class="plus circle icon"></i>
		Add Device
	</a>
	<a class="item" href="#search">
		<i class="search icon"></i>
		Search
	</a>
		<a class="item" href="#about">
		<i class="question icon"></i>
		About
	</a>
  </div>
<div class="main-content">
  <div class="window"> {% block content %}{% endblock %} </div>
</div>

<!-- Add your JavaScript file or external scripts here -->
</body>
</html>
