{% extends 'base.html' %}

{% block title %}Device List{% endblock %}

{% block content %}
<h2 class="ui header">
  <i class="settings icon"></i>
  <div class="content">{{ title }}
    <div class="sub header">View/Edit</div>
  </div>
</h2>

<table class="ui compact celled definition table">
    <thead>
        <tr>
            <th></th>
            <th>Device Name</th>
            <th>Assigned IP</th>
            <th>MAC Address</th>
            <th>Device Type</th>
            <th>Date Added</th>
            <th>Date Modified</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td class="collapsing"><img src="{{ url_for('static', filename=device.device_type + '.png') }}" alt="{{ device.device_type }}"></td>
            <td>{{ device.device_name }}</td>
            <td>{{ device.assigned_ip }}</td>
            <td>{{ device.mac_address }}</td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.date_added.strftime('%Y-%m-%d') }}</td>
            <td>{% if device.date_modified %}{{ device.date_modified.strftime('%Y-%m-%d') }}{% endif %}</td>
            <td><a href="{{ url_for('edit_device', id=device.id) }}"><button class="ui positive icon button"><i class="edit icon"></i></button></a></td>
            <td>
                <form action="{{ url_for('delete_device', id=device.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="ui red icon button"><i class="trash alternate icon"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
	</tbody>
</table>

{% endblock %}
